{% load thumbnail %}{% load staticfiles%}
<div style='{{ style|default:"overflow-y: scroll; height: 400px"}}' class='erthygl-imagapicker {{ classes }}'>
{% for i in images %}
    <div>
        <a href='{{ i.img.url }}'><img src="{% thumbnail i.img size quality=90 %}" alt='{{ i.img }}'/></a>
        <p>&#123;&#123; aimg_{{ i.pk }} &#125;&#125;</p>
    </div>
{% endfor %}
</div>
